<application>
  <component name="MybatisSettings" CUSTOM_PLUGIN="[]" KEY="" RESULT="" InsertGenerator="[&quot;add&quot;,&quot;new&quot;,&quot;insert&quot;]" DeleteGenerator="[&quot;cancel&quot;,&quot;del&quot;]" UpdateGenerator="[&quot;modify&quot;,&quot;set,clear&quot;,&quot;update&quot;]" SelectGenerator="[&quot;search&quot;,&quot;select&quot;,&quot;find&quot;,&quot;get&quot;,&quot;query&quot;,&quot;count&quot;,&quot;list&quot;,&quot;look&quot;]" StatementGenerateModel="0" DefaultDataSourceId="" Insert="147" Select="0" Update="0" Delete="0" />
</application>